/* universal selectrs */
body {
  overflow-x: hidden;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}
nav ul {
  list-style: none;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 100px;
}

section h3 {
  text-align: center;
  font-size: 40px;
  text-transform: capitalize;
  margin-bottom: 35px;
}
section p {
  text-align: center;
  max-width: 900px;
  width: 100%;
  margin-bottom: 30px;
  line-height: 2;
}

hr {
  height: 1px;
  width: 200px;
  background-color: #d70672;
  border: none;
  margin: 20px auto; /* to center it */
}

@media screen and (max-width: 1000px) {
  section {
    padding: 100px 80px;
  }
}

@media screen and (max-width: 600px) {
  section {
    padding: 80px 50px;
  }
}

/* universal selectrs */

/* header section start */

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 100px 0px;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
}

.header h3 {
  font-size: 40px;
}

.header nav ul {
  display: flex;
}
.header nav ul a {
  margin: 0px 25px;
  font-size: 23px;
}

.header nav ul li a:first-child {
  margin-left: 0;
}

@media screen and (max-width: 1000px) {
  .header {
    padding: 20px 50px;
  }
}
@media screen and (max-width: 700px) {
  .header {
    flex-direction: column;
  }
  .header h3 {
    font-size: 22px;
    margin: 14px 9px;
  }
}

/* header section end */

/* here section start */

.hero-section {
  position: relative;
  justify-content: center;
  min-height: 100vh;
  color: white;
  text-align: center;
  width: 100%;
  padding: 0 20px; /* optional padding for smaller screens */
}

.hero-section .bg-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: bottom;
  z-index: -1;
}
.hero-section h1 {
  font-weight: 800;
  font-size: 75px;
  margin-bottom: 18px;
  color: #000000;
}

.hero-section .browse-all-places {
  border-radius: 4px;
  background-color: #920b51;
  color: white;
  padding: 20px 45px;
  font-size: 23px;
  text-align: center;
  transition: color 2s ease-in, background-color 2s ease-out;
}
.hero-section .browse-all-places:hover {
  color: white;
  background-color: #000000;
  transform: scale(1.1);
}

@media screen and (max-width: 800px) {
  .hero-section h1 {
    font-size: 50px;
  }
}
@media screen and (max-width: 500px) {
  .hero-section h1 {
    font-size: 40px;
  }
}
/* here section end */

/* our popular section  */

.our-popular-places ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  width: 100%;
  justify-content: center;
}
.our-popular-places ul li {
  height: 350px;
  padding: 20px;
  border-radius: 4px;
  background-position: center;
  background-size: cover;
  background-color: #000000;
  background-clip: content-box;
}

.our-popular-places ul li.li-image-small {
  flex-basis: 40%;
}
.our-popular-places ul li.li-image-large {
  flex-basis: 60%;
}

@media screen and (max-width: 1000px) {
  .our-popular-places ul li.li-image-small,
  .our-popular-places ul li.li-image-large {
    flex-basis: 100%;
  }
}

/* our popular section  */

/* our destinations */
.destinations .our-destinations-grid {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.destinations .our-destinations-grid li {
  padding: 0 30px;
  list-style: none;
  flex-basis: 33%;
  text-align: center;
}
.destinations .our-destinations-grid li i {
  color: #d70672;
  font-size: 45px;
  cursor: pointer;
  margin-bottom: 25px;
}
.destinations .our-destinations-grid li h4 {
  color: #000000;
  font-size: 20px;
  margin-bottom: 25px;
}
.destinations .our-destinations-grid li p {
  font-size: 16px;
  font-weight: 600;
  margin: 0;
}

@media screen and (max-width: 1000px) {
  .destinations .our-destinations-grid li {
    flex-basis: 70%;
    margin-bottom: 60px;
  }
  .destinations .our-destinations-grid li:last-child {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 600px) {
  .destinations .our-destinations-grid li {
    flex-basis: 100%;
  }
}
/* our destinations */

/* subscription  */
.subscription {
  background-color: #f7f7f7;
}
.subscription form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  max-width: 800px;
  width: 80%;
}
.subscription form input {
  padding: 12px;
  flex: 1;
  margin-right: 25px;
  font-size: 18px;
  color: #555555;
}
.subscription form .subscription-btn {
  border-radius: 4px;
  background-color: #920b51;
  color: white;
  padding: 13px 40px;
  font-size: 20px;
  text-align: center;
  transition: color 2s ease-in, background-color 2s ease-out;
}

.subscription form .subscription-btn:hover {
  color: white;
  background-color: #000000;
  transform: scale(1.1);
}

@media screen and (max-width: 800px) {
  .subscription form input {
    flex-basis: 100%;
    margin: 0px 0px 20px 0px;
  }
}
/* subscription  */
